/* Fonts */

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Bold'), local('Raleway-ExtraBold'), 
  url('assets/fonts/raleway/ralewaybold.woff2') format('woff2'), 
  url('assets/fonts/raleway/ralewaybold.woff') format('woff'), 
  url('assets/fonts/raleway/ralewaybold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #0094FF;
}

/* Editor */

.live-editor {
  height: 100vh;
  width: 100%;
}

.editor,
.output {
  position: absolute;
  width: 50%;
  padding: 30px;
  overflow: auto;
  height: 100vh;
}

.editor {
  left: 0;
  resize: none;
  outline: none;
  border: none;
  background-color: rgb(246, 248, 250);
  font-size: 1em;
  font-family: 'Roboto Mono', monospace;
  line-height: 150%;
}

/* Editor Actions */

.editor-actions {
  position: absolute;
  right: 0;
  top: 0;
  padding: 15px;
  display: flex;
  align-items: center;
}

.editor-actions__create-link {
  width: 200px;
  padding: 8px;
  border-radius: 7px;
  text-align: center;
  font-size: 12px;
  color: transparent;
  text-shadow: 0 0 0 #555;
  background-color: rgb(244, 244, 244);
  cursor: pointer;
  border: none;
  outline: none;
}

.editor-actions__help {
  font-size: 20px;
  padding: 5px 15px;
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  color: #999;
}

/* Icons */

.icon {
  display: inline-block;
  width: 27px;
  height: 27px;
}

.icon-fullscreen {
  background: no-repeat center/20px url("assets/img/share.png");
}

.icon-arrow-left {
  background: no-repeat center/20px url("assets/img/larrow.png");
}

/* Loading */

.loading {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/************************* Output **************************/
/***********************************************************/

.output {
  right: 0;
  padding: 60px;
  background-color: white;
  transition: width .5s;
}

.output_fullscreen {
  width: 100%;
}

.output__toggle-button {
  transition: transform .5s;
}

.output_fullscreen .output__toggle-button {
  transform: rotate(180deg);
}

.output__toggle-editor {
  position: fixed;
  margin-left: -60px;
  margin-top: -60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40px;
  height: 100vh;
  background-color: rgb(246, 248, 250);
  transition: opacity .2s;
  opacity: 0;
  cursor: pointer;
}

.output__toggle-editor:hover {
  opacity: 1;
}

.output__content {
  margin: 0 auto;
  max-width: 750px;
}

.output img {
  display: block;
  max-width: 100%;
  margin: 20px auto;
}

.output p,
.output ul,
.output ol {
  margin: 15px 0;
  line-height: 165%;
}

.output table,
.output pre {
  margin: 20px 0;
}

.katex-display {
  /* Rewrite external margin */
  margin: 30px 0 !important;
}

/* Headers */

.output h1,
.output h2,
.output h3,
.output h4,
.output h5,
.output h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  letter-spacing: -0.015rem;
}

.output h1 {
  margin-bottom: 20px;
  font-size: 36px;
}

.output h2 {
  font-size: 24px;
  margin: 15px 0;
}

.output h3 {
  font-size: 18px;
  margin: 15px 0;
}

.output h4 {
  font-size: 16px;
  margin: 10px 0;
}

.output h5,
.output h6 {
  font-size: 14px;
  margin: 10px 0;
}

/* Tables */

.output table {
  border-collapse: collapse;
}

.output td,
.output th {
  border: 1px solid rgb(223, 226, 229);
  padding: 10px 20px;
}

.output tr:nth-child(2n) {
  background-color: rgb(246, 248, 250);
}

/* Lists */

.output ul,
.output ol {
  list-style-position: inside;
}

.output ul ul {
  margin-left: 20px;
  margin-top: 0;
}

/* Code */

.output code {
  font-family: 'Roboto Mono', monospace;
  padding: 2px 6px;
  border-radius: 3px;
  background-color: rgb(244, 244, 244);
}

.output pre {
  padding: 20px;
  background-color: rgb(246, 248, 250);
  border-radius: 5px;
}

.output pre code {
  background-color: transparent;
  padding: 0;
}