/* Fonts */

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Bold'), local('Raleway-ExtraBold'), 
  url('assets/fonts/raleway/ralewaybold.woff2') format('woff2'), 
  url('assets/fonts/raleway/ralewaybold.woff') format('woff'), 
  url('assets/fonts/raleway/ralewaybold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  font-size: 14px;
  overflow: hidden;
}

/* Editor */

.live-editor {
  height: 100vh;
  width: 100%;
}

.editor,
.output {
  position: absolute;
  width: 50%;
  padding: 30px;
  overflow: auto;
  height: 100vh;
}

.editor {
  left: 0;
  resize: none;
  outline: none;
  border: none;
  background-color: #eee;
  font-size: 1em;
  font-family: 'Roboto Mono', monospace;
  line-height: 150%;
}

/* Output */

.output {
  right: 0;
  padding: 60px;
  background-color: white;
  transition: width .5s;
}

.output_fullscreen {
  width: 100%;
}

.output__toggle-button {
  transition: transform .5s;
}

.output_fullscreen .output__toggle-button {
  transform: rotate(180deg);
}

.output__toggle-editor {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40px;
  height: 100vh;
  background-color: rgb(250, 250, 250);
  transition: opacity .2s;
  opacity: 0;
  cursor: pointer;
}

.output__toggle-editor:hover {
  opacity: 1;
}

.output__content {
  margin: 0 auto;
  max-width: 850px;
}

.output h1,
.output h2,
.output h3,
.output h4,
.output h5,
.output h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  letter-spacing: -0.015rem;
}

.output h1 {
  margin-bottom: 20px;
  font-size: 36px;
}

.output h2 {
  font-size: 24px;
  margin: 15px 0;
}

.output h3 {
  font-size: 18px;
  margin: 15px 0;
}

.output h4 {
  font-size: 16px;
  margin: 10px 0;
}

.output h5,
.output h6 {
  font-size: 14px;
  margin: 10px 0;
}

.output p {
  line-height: 163%;
  margin-bottom: 15px;
}

.output a {
  text-decoration: none;
  color: #0094FF;
}

.output code {
  font-family: 'Roboto Mono', monospace;
}

.output ul {
  list-style-position: inside;
  line-height: 163%;
}

.output ul ul {
  margin: 5px 0 5px 20px;
}

.katex-display {
  /* Rewrite external margin */
  margin: 30px 0 !important;
}

/* Save button */

.save-container {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  margin: 20px;
}

.save-button {
  margin: 5px;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

.save-info {
  margin-right: 15px;
  width: 200px;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.123);
  border: none;
}

/* Icons */

.icon {
  display: inline-block;
  width: 27px;
  height: 27px;
}

.icon-fullscreen {
  background: no-repeat center/20px url("assets/img/share.png");
}

.icon-arrow-left {
  background: no-repeat center/20px url("assets/img/larrow.png");
}